@import 'bourbon/bourbon';
@import 'base/base';

$terminal-green: #00ff00;
$radio-checked-bg: yellow;
$title-color: $terminal-green;
$title-outline: yellow;

$bo1: #c84848;
$bo2: #c66c3a;
$bo3: #b47a30;
$bo4: #a2a22a;
$bo5: #48a048;
$bo6: #4248c8;

$splash-bg: $bo6;

$button-color: $terminal-green;
$button-border: 1px solid $bo4;
$button-bg: #477dca;
$button-hover-bg: #2c5999;

$body-background: gray;

$input-color: gray;
$input-bg: white;
$input-font: "pressStart";
$input-font-size: 12px;

$border-color-splash: gray;

$select-height: 15px;
$select-width: 50px;

@font-face {
    font-family: "pressStart";
    src: url("fonts/PressStart2P-Regular.ttf");
}
@font-face {
    font-family: "vador";
    src: url("fonts/vador.ttf");
}
table, caption, tbody, tfoot, thead, tr, th, td {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  text-align: left;
}

td.value {
  text-align: right;
}

body {
    margin: 0px;
    background-color: darken(gray, 40);
    z-index: -500;
    font-family: "pressStart";
}

input[type="submit"], input[type="text"] {
    line-height:normal !important;
}
a {
  color: darken(yellow, 10);
}
a:hover {
  color: yellow;
}

div.status {
  position: relative;
  width: 800px;
  margin: 0px auto;
  text-align: left;
  font-family: "pressStart";
  font-size: 12px;
  color: darken(white, 30);
  padding-top: 5px;
  border: 1px solid black;
  background-color: darken($splash-bg, 30);
  margin-top: 5%;
  text-align: center;
  font-size: 24px;
  border: 0px;
  div.statuses {
    position: absolute;
    top: 0px;
    font-size: 12px;
    padding-top: 5px;
    width: 20%;
  }
  div.points-wrapper {
    left: 0px;
    text-align: left;
    padding-left: 10px;
  }
  div.lives-wrapper {
    right: 0px;
    text-align: right;
    padding-right: 10px;
  }
  div.logo {
    a {
      color: white;
    }

  }
  div.social {
    font-size: 12px;
    color: black;
    a {
      margin: 0px;
      padding: 0px;
      font-size: 12px;
    }
  }
}

.content {

  width: 800px;
  margin: 0px auto;
  background-color: blue;
  position: relative;
  z-index: 200;
  padding-top: 5%;
  .canvas {
    position: absolute;
    right: 0px;
    top: 0px;
  }

  #brick-canvas {
    z-index: -300;
    @include linear-gradient(shade(blue, 90%), black);
  }
  #game-canvas {
    z-index: -200;
  }

  #msg-flash {
    margin: 0px auto; 
    font-family: "pressStart";
    z-index: 100;
    width: 60%;
    text-align: center;
    opacity: .6;
    padding: 10px;
    font-family: "pressStart";
    margin-top: 100px;
    color: white; 
    font-size: 24px;
    display: none;
  }
  .splash {
    margin: 0px auto; 
    font-family: "vador";
    z-index: 800;
    width: 60%;
    text-align: center;
    background-color: $splash-bg;
    opacity: .8;
    padding: 10px;
    text-shadow: -1px 0 #336a33, 0 1px #336a33, 1px 0 #336a33, 0 -1px #336a33;
    display: none;

    .title {
      font-family: "vador";
      font-size: 3em;
      font-weight: bold;
      color: $title-color;
      text-shadow: 4px 4px black;
    }
    input[name="str"] {
      border-radius: 0px;
      background-color: $input-bg;
      color: $input-color;
      width: 60%;
      height: 30px;
      display: inline-block;
      font-family: $input-font;
      font-size: $input-font-size;
      border: 0;
        
    }
    button {
      margin: 0px;
      vertical-align: top;
      text-align: center;
      width: 80px;

      display: inline-block;
      height: 30px;
      overflow: hidden;
      font-family: "pressStart";
      font-size: 10px;
      border-radius: 0px;
      color: $button-color;
      background-color: $button-bg;
    }
    button:hover {
      background-color: darken($button-bg, 10);
    }
    div.font-disp {
      margin: 0px;
      margin-bottom: 4px;
      color: $terminal-green;
      text-shadow: none;
    }
    div.instructions {
      color: black;
      text-shadow: none;
      font-family: "pressStart";
      font-size: 10px;
      background-color: lighten($splash-bg, 2);
      padding: 10px;
    }

     
    div.social-links,div.twitter-share {
      background-color: black; 
      text-shadow: none;
      div.share-link {
        padding-top: 4px;
        overflow: hidden;
      } 

      font-size: 14px;
      color: white;
      text-shadow: none;
      a {
        text-shadow: none;
        margin: 0px;
        padding: 0px;
        font-size: 12px;
      }
    }

    .rangeslider,
    .rangeslider__fill {
      background: $button-bg;
      display: block;
      height: 30px;
      width: 60%;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 10px;
      -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
      -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
      box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
    }

    .rangeslider {
      position: relative;
    }

    .rangeslider--disabled {
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
      opacity: 0.4;
    }

    .rangeslider__fill {
      background: lighten($button-bg, 10);
      position: absolute;
      top: 0;
    }

    .rangeslider__handle {
      background: darken($terminal-green, 20);
      cursor: pointer;
      display: inline-block;
      width: 40px;
      height: 30px;
      position: absolute;
      top: 0px;
      outline: 1px solid gray;
      font-size: 24px;
      font-weight: normal;
      color: black;
      text-shadow: none;
      overflow: hidden;

    }
    .rangeslider__handle:after {
      content: "";
      display: block;
      width: 18px;
      height: 18px;
      margin: auto;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    input[type="range"]:focus + .rangeslider .rangeslider__handle {
      -moz-box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
      -webkit-box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
      box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
    }
    .rangeslider__handle:hover {
      background: $terminal-green;
    }

  }
}


